@font-face {
	font-family: 'Raleway-SemiBold';
	src:font-url('Raleway-SemiBold.ttf') format('truetype');
}
@font-face {
	font-family: 'GlacialIndifference-Bold';
	src:font-url('GlacialIndifference-Bold.otf') format('opentype');
}
@font-face {
	font-family: 'Lato-Regular';
	src:font-url('Lato-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Lato-Light';
	src:font-url('Lato-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Lato-Thin';
	src:font-url('Lato-Thin.ttf') format('truetype');
}
