.profile-container
{
    height: 200px;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: #2E3D50;
}

.img-circle
{
	border: 10px solid white;
}

.fancybox img
{
	height: 100%;
	width: 100%;
}

.box
{
    border-radius: 0px;
    background-color: black;
}